.navigation {
    display: flex;
    align-items: center;
    background-color: brown;
    color: #fff;
    height: 7rem;

    &__logo-box {
        flex-basis: 30%;
    }

    &__list-item-box {
        flex-basis: 70%;
        margin-left: auto;
        padding-right: 5rem;
    }

    &__list-item {
        list-style-type: none;
        display: flex;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 1rem;
        }
    }

    &__link {
        display: inline-block;
        padding: 1.5rem 3.5rem;
        font-size: 1.7rem;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 600;
        color: $color-text-1;
    }

}