.navigation {
    position: fixed;
    display: flex;
    width: 100%;
    align-items: center;
    background-color: transparent;
    color: #fff;
    height: 7rem;
    z-index: 999;

    &__logo-box {
        flex-basis: 30%;
        text-align: center;
    }

    &__list-item-box {
        flex-basis: 70%;
        margin-left: auto;
        padding-right: 5rem;
    }

    &__list-item {
        list-style-type: none;
        display: flex;
        justify-content: space-around;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 1rem;
        }
    }

    &__link {
        display: inline-block;
        padding: 1.5rem 3.5rem;
        font-size: 1.7rem;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 600;
        color: $color-text-1;
        border-bottom-width: 3px;
        border-bottom-color: transparent;
        border-bottom-style: solid;
        transition: all .4s ease;

        &:hover {
            border-bottom-color: $color-primary;
        }
    }

}