.card-about {
    padding: 2rem;
    min-height: 45rem;

    &__inner {
        text-align: center;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    &__icon-box {
        width: 16rem;
        height: 16rem;
        margin: 0 auto;
        background-color: $color-secondary;
        border-radius: 50%;
        display: flex;
        transition: all .4s ease;
    }

    &__icon {
        margin: auto;
        font-size: 5rem;
        color: $color-text-2;
        transition: all .4s ease;
    }

    &__text-box {
        flex-basis: 100%;
    }

    &__title {
        font-size: 3rem;
    }

    &:hover &__icon-box {
        background-color: $color-primary;
        transform: scale(1.05);
        box-shadow: 0 .5rem 1rem rgba($color-black, .4);
    }

    &:hover &__icon {
        color: $color-text-1;
    }
}

.card-services {
    padding: 3rem;
    flex-basis: 50%;
    border-radius: 1rem;
    transition: all .3s ease;

    &:hover {
        box-shadow: 0 1rem 2rem rgba($color-black, .3);
    }

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__icon-box {
        align-self: flex-start;
        flex-basis: 9rem;
        height: 9rem;
        border-radius: 50%;
        display: flex;
        background-color: $color-white;
        transition: all .3s ease;

        &:hover {
            background-color: $color-primary;
            transform: scale(1.1);
        }
    }

    &__icon {
        font-size: 3.5rem;
        color: $color-primary;
        transition: all .3s ease;
    }

    &__icon-box:hover &__icon {
        color: $color-white;
    }

    &__text-box {
        flex-basis: 80%;
    }
}

.card-pricing {
    flex-basis: 23.5%;
    background-color: $color-white;
    border-radius: 7px;

    &__inner {}

    &__price-box {
        padding: 6rem 2rem;
        border-bottom: 2px solid lighten($color: $color-text-2, $amount: 15%);
    }

    &__price {
        margin: 1rem;
        font-size: 5rem;
        font-weight: 300;
        color: $color-primary;
    }

    &__paragraph {
        font-size: 2rem;
        color: lighten($color: $color-text-2, $amount: 15%);
    }

    &__text-box {
        padding: 2rem;
        margin: 3.5rem 0;
    }

    &__btn-box {}

    &__btn {
        display: flex;
        padding: .5rem 2rem;
        line-height: 7rem;
        width: 100%;
        background-color: $color-primary;
        font-size: 1.8rem;
        letter-spacing: 3.5px;
        font-weight: 600;
        color: $color-text-1;
        text-decoration: none;
        text-transform: uppercase;
    }

    &__icon {
        margin-left: auto;
        line-height: 7rem;
    }
}