html {
    font-family: 'Raleway', sans-serif;
}

.heading-primary {
    color: $color-text-1;

    &--title,
    &--subtitle {
        display: block;
        line-height: 1.6;
    }

    &--title {
        font-size: 6.5rem;
        font-weight: 200;
    }

    &--subtitle {
        font-size: 3rem;
        font-weight: 400;
    }
}

.heading-secondary {
    font-size: 5rem;
    color: $color-text-2;
    font-weight: 300;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 125%;
        left: 50%;
        transform: translateX(-50%);
        height: .3rem;
        width: 4rem;
        background-color: $color-primary;
    }
}

.description {
    font-size: 2rem;
    color: $color-text-2;
}