html {
    font-family: 'Raleway', sans-serif;
}

.heading-primary {
    color: $color-text-1;

    &--title,
    &--subtitle {
        display: block;
        line-height: 1.6;
    }

    &--title {
        font-size: 6.5rem;
        font-weight: 200;
    }

    &--subtitle {
        font-size: 3rem;
        font-weight: 400;
    }
}