.section-about {
    display: flex;
    padding-top: 8rem;

    &__container {
        width: 100%;
    }

    &__row {
        max-width: 130rem;
        margin: 0 auto 8rem auto;
    }

    &__text-box {
        text-align: center;
    }

    &__cards-box {
        display: flex;
    }

    &__btn-box {
        text-align: center;
    }
}

.section-services {
    display: flex;
    background-color: $color-secondary;

    &__container {
        max-width: 130rem;
        margin: 0 auto;
    }

    &__text-box {
        text-align: center;
    }

    &__cards-box {
        display: flex;
        flex-wrap: wrap;
    }
}