.section-about {
    display: flex;

    &__container {
        width: 100%;
    }

    &__row {
        max-width: 130rem;
        margin: 0 auto 8rem auto;
    }

    &__text-box {
        text-align: center;
    }

    &__cards-box {
        display: flex;
    }

    &__btn-box {
        text-align: center;
    }

    // &__skill-box {

    // }

}